.App{
  height: 100vh;
  display:flex;
  background-color: #020230;
  color: white;
  position: relative;
}
.earn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
}
.restart {
  text-align: center;
}

.restart button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.restart button:hover {
  background-color: blue;
  color: white;
}

.main{
  width: 75%;
  background: linear-gradient(to bottom,rgba(0,0,0,0),#020230), url("./assets/bg.jpg"),center;
  display: flex;
  flex-direction: column;
  position: relative;
}
  .top{
    height: 50%;
  }
  .timer{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    bottom: 350px;
    left: 80px;
    
    
  }
  .bottom{
    height: 50%;
  }


.pyramid{
  width: 25%;
  display: flex;
  align-items:center;
  justify-content: center;
}
.moneylist{
  width: 90%;
  padding: 10px;
  height: 100%;
  margin-top: 5px;


}
.moneylistitem{
  list-style: none;
  padding: 10px;
  width: 20px;
  font-size: 15px;
  width: 90%;
  margin: 1px;
  display: flex;
  border-radius: 15px;
}

.moneylistitem.active{
  background-color: teal;
}
.moneylistnumber{
  font-size: 18px;
  padding-right: 35px;
 

}
.moneylistamount{
  font-size: 20px;
  margin: auto 10px;
  align-self: center;

}
.money-icon {
  color: white;
}

@media only screen and (max-width: 768px) {
.pyramid{
 display: none;
}
.main{
  width: 100%;
  background: linear-gradient(to bottom,rgba(0,0,0,0),#020230), url("./assets/bg.jpg");
  display: flex;
  flex-direction: column;
  position: relative;
}
.top{
  height: 50%;
  display: flex;
  justify-content: center;
}
.timer{
 position: relative;
 top: 75%;
 right: 50%;

}
}