.quiz {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.question {
    width: 80%;
    background: linear-gradient(#020230, black);
    border: 3px solid whitesmoke;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 11px;
}

.answer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.ans {
    width: 45%; /* Adjusted width for smaller screens */
    padding: 10px;
    text-align: center;
    background: linear-gradient(#0e0124, #22074d);
    border: 2px solid white;
    font-size: 16px; /* Adjusted font size for smaller screens */
    font-weight: 300;
    border-radius: 15px;
    margin: 5px; /* Adjusted margin for smaller screens */
    cursor: pointer;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .question {
        width: 90%; /* Adjusted width for smaller screens */
    }

    .ans {
        width: 90%; /* Adjusted width for smaller screens */
        font-size: 14px; /* Adjusted font size for smaller screens */
    }
}


